/* ........................................................... [RESET] */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body          { line-height: 1; }
ol, ul        { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins    { text-decoration: none; }
del    { text-decoration: line-through; }
table  { border-collapse: collapse; border-spacing: 0; }


/* ........................................................... [GENERAL] */

@font-face {
    font-family: 'pill-gothic-300mg-1';
    src: url('fonts/Pill_Gothic_300mg_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body,#doc {
  width: 100%;
  height: 100%;
}

body {
  background: url(inc/images/bluebarn_bg_new.jpg) 0 95px repeat;
}

#doc {
  background: url(inc/images/bg_header.png) repeat-x, url(inc/images/header_distress.png) 50% 96px no-repeat;
}

.container_12 {
  position: relative;
}

/* ........................................................... [HEADER] */

header {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  height: 160px;
  overflow: visible;
}

header h1 {
  position: absolute;
  left: 0;
  top: 20px;
  text-indent: -9999em;
  width: 252px;
  height: 70px;
  background: url(inc/images/bluebarn_logo.png) no-repeat;
}
header h1 a {
  display: block;
  line-height: 70px;
}

header .barn_icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 89px;
  height: 111px;
  background: url(inc/images/header_barn_icon.png) no-repeat;
}

nav {
  position: absolute;
  bottom: 5px;
  left: 10px;
  height: 53px;
  overflow: hidden;
}

nav {
    font-family: "pill-gothic-300mg-1",sans-serif;
}

nav li {
  position: relative;
  top:0;
  background: url(inc/images/sep.png) no-repeat 100% 15px;
  margin-right: 18px;
  padding-right: 18px;
  height: 53px;
  line-height: 53px;
  float: left;
}

nav li.last{
 background: none;
}

nav a {
  font-size: 20px;
  text-transform: uppercase;
}

nav li.weekly-produce-box {
  padding-left: 50px;
}
nav li.weekly-produce-box span {
  position: absolute;
  top: 0;
  left: 0;
  background: url(inc/images/assets.png) no-repeat -254px -5px;
  height: 53px;
  width: 47px;
}

nav li.facebook,
nav li.twitter {
  background: none;
  margin-right: 0;
  padding-right: 0;
}

nav li.facebook a,
nav li.twitter a {
  display: block;
  height: 32px;
  margin-top: 10px;
  width: 32px;
  text-indent: -9999em;
}

nav li.facebook a {
  background: url(inc/images/assets.png) 1px -1px no-repeat;
}

nav li.twitter a {
  background: url(inc/images/assets.png) 1px -34px no-repeat;
}

#restaurant-menus {
  text-align: center;
  margin: 0 auto;
}

nav #restaurant-menus li {
  margin-right: 10px;
  padding-right: 10px;
  line-height: 25px;
  height: 25px;
  background-position: 100% 0;
  padding-top: 0;
  clear:both;
  float:none;
  display: inline-block;
}

nav #menu {
  float:left;
  clear:both;
}

nav #restaurant-menus li.last {
  background:none;
}

nav #restaurant-menus a {
  font-size:16px;
  color: #f30;
}

/* ........................................................... [CONTENT] */

aside li {
  background: url(inc/images/double_hr_short.png) no-repeat center bottom;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

aside h3 {
  background: url(inc/images/assets.png) -34px -1px no-repeat;
  height: 115px;
  margin: 0;
  text-indent: -9999em;
}

aside h3 span {
  background: url(inc/images/sep.png) no-repeat 100% 0;
  display: inline-block;
  padding-right: 10px;
}

.home aside li.last,
.about aside li.last,
.bulletin-board aside li.last {
  background: url(inc/images/assets.png) no-repeat -520px -206px;
  height: 115px;
  /*
  background: url(inc/images/assets.png) no-repeat -1px -260px;
  height: 200px;
  */
  margin-bottom: 0;
}

.weekly-produce-box aside li.last {
  background: url(inc/images/assets.png) no-repeat -1px -260px;
  height: 200px;
  margin-bottom: 0;
}

.menus aside li.last {
  background: url(inc/images/assets.png) no-repeat -280px -320px;
  height: 200px;
  /*
  background: url(inc/images/assets.png) no-repeat -280px -540px;
  height: 245px;
  */
}

.locations aside li.last {
  background: url(inc/images/assets.png) no-repeat -1px -540px;
  height: 218px;
}

.weekly-produce-box aside li.last {
  background: url(inc/images/assets.png) no-repeat -280px -120px;
  height: 138px;
}

.csa aside li.last {
  background: url(inc/images/assets.png) no-repeat -280px -120px;
  height: 138px;
}

.the-farm aside li.last {
  background: url(inc/images/assets.png) no-repeat -280px -320px;
  height: 200px;
}

.gifts aside li.last {
  background: url(inc/images/assets.png) no-repeat -1px -116px;
  height: 110px;
}

/*Mockup doesn't work with the grid system*/
.grid_8_5 {
  display: inline;
  float: left;
  left: 80px;
  width: 640px;
  position: relative;
}

article {
  padding-top: 35px;
}

article nav {
  margin-top: 0;
  padding-left: 0;
}

/* ........................................................... [FOOTER] */

footer {
  background: url(inc/images/footer-background.png) repeat-x;
  height: 60px;
  width: 100%;
  margin-top: 60px;
  padding-top: 10px;
  border-top: 1px solid #036;
}

footer li {
  display: inline;
  border-right: 1px solid #036;
  padding-right: 10px;
  margin-right: 10px;
}

footer li.last {
  border: none;
}

footer a {
  color: #036;
}

footer .logo {
  display: none;
  background: url(inc/images/assets.png) no-repeat -480px -40px;
  padding: 0 10px;
  width: 306px;
  height: 95px;
  position: absolute;
  text-indent: -9999em;
  right: 0;
  top:-60px;
}

/* ........................................................... [TYPOGRAPHY] */

body { font: 13px/1.5 Georgia, "Times New Roman", Times, serif; color:#036;}

ol   { list-style: decimal; }
ul   { list-style: none; }
ol.inline li, ul.inline li { display: inline; }
li { margin-right: 20px; }
p, dl, hr, ol, ul, table, fieldset { margin-bottom: 20px; }
address { font-style: normal; text-transform:uppercase; }

/* ........................................................... [TYPOGRAPHY/LINKS] */

a,
a:hover,
a:active,
a:visited {
  color: #f60;
  text-decoration: none;
}

a img {
  border:0;
}

nav li a,
nav li a:hover,
nav li a:active,
nav li a:visited {
  color: #036;
}

nav li.active a {
  color: #f60;
}

/* ........................................................... [TYPOGRAPHY/HEADINGS] */

h1 { font-size: 25px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; margin-bottom: 20px;}
h4 { font-size: 16px; margin-bottom: 20px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  margin-top: 12px;
}

/* ........................................................... [MISC] */

.scrollable  {
  background: url(inc/images/assets.png) no-repeat -1px -795px;
  padding: 20px 0 0 20px;
}

.scrollable .content {
	position:relative;
    overflow:hidden;
    height:345px;
    width: 657px;
}

.scrollable .items {
	width:20000em;
	position:absolute;
}

.items * {
	float:left;
}

.pager {
  background: url(inc/images/double_hr.png) no-repeat -5px 50px;
  position: relative;
  padding: 35px 0;
  margin-left: -12px;
}

.pager .prev, .pager .next {
  position: relative;
  background: url(inc/images/assets.png) no-repeat -531px -1px;
  width: 55px;
  height: 33px;
  padding-right: 10px;
  display: inline-block;
  text-indent: -9999em;
  z-index:1;
}

.pager .next {
  background: url(inc/images/assets.png) no-repeat -468px -1px;
  padding: 0 0 0 10px;
  float: right;
}

.scrollable .current-page {
  font-size: 36px;
  left: 485px;
  position: absolute;
  top: 20px;
}

noscript {
  background: #f00;
  color: #fff;
  font-weight: bold;
}

/* ........................................................... [IE7] */

.oldie #restaurant-menus li{
  display: inline;
  zoom:1;
}

/* Fonts */

.wf-loading {
    visibility: hidden;
}

/* Locations */

.location {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.location-map-container {
    height: 172px;
}

.location-map {
	border: 2px solid #3289cb;
    width: 290px;
    height: 162px;
    margin-top: 5px;
    margin-left: 5px;
}

.shop-item {
  height: 300px;
  border: 2px solid #3289cb;
  padding: 5px;
}

.embed {
  width: 657px;
  height: 345px;
  background-color: #000;
}

.embed iframe {
  display: block;
  float: none;
  margin: auto;
}

.location {
  padding-top: 0;
  background: url("inc/images/double_hr_short.png") repeat-x scroll center bottom transparent;
}
